In [4]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.set_option('max_colwidth', -1)

<ipython-input-4-af59b17b2a7e>:3: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('max_colwidth', -1)

# Python Libraries

In [5]:
import pandas as pd
import os
import numpy as np
import pandas as pd
import datetime
import time
from datetime import datetime
import matplotlib.pyplot as plt
from collections import defaultdict

# Importing/Loading of Kaggle Google App Dataset

In [6]:
filepath = "/Users/ketansahu/Documents/DataEngineeringProject/GitHubRepo/googleplaystore.csv"
df = pd.read_csv(filepath ,encoding='utf-8')
col_name = ['app',  'category', 'rating', 'reviews', 'app_size', 'installs', 'app_type', 'price', 'content_rating', 'genres', 'last_updated', 'current_version', 'android_version']
df.columns = col_name

In [15]:
#Add 1000 Random user_id
df["user_id"] = np.random.randint(1, 1000, len(df))
#Add download date of today
#df["download_date"] = np.random.choice(pd.date_range('2020-01-01', '2021-01-01'), len(df))
df["download_date"] = pd.date_range('today', periods=len(df), freq='1S').normalize()
#reindex the column order
df = df.reindex(columns=['download_date', 'user_id', 'app',  'category', 'rating', 'reviews', 'app_size', 'installs', 'app_type', 'price', 'content_rating', 'genres', 'last_updated', 'current_version', 'android_version'])
#Sort the Dataframe based on the the download_date
df = df.sort_values('download_date')
#reset the index=row numbers
df = df.reset_index(drop =True)
df

,download_date,user_id,app,category,rating,reviews,app_size,installs,app_type,price,content_rating,genres,last_updated,current_version,android_version
0,2021-03-28,35,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,2021-03-28,294,Pyaterochka,FOOD_AND_DRINK,3.1,8412,Varies with device,"1,000,000+",Free,0,Everyone,Food & Drink,"July 19, 2018",Varies with device,4.4 and up
2,2021-03-28,675,Refreshing app Free application that can use deal coupons,FOOD_AND_DRINK,3.5,10741,41M,"1,000,000+",Free,0,Everyone,Food & Drink,"July 23, 2018",5.2.2,4.2 and up
3,2021-03-28,824,Citi MobileÂ®,FINANCE,4.0,78306,46M,"5,000,000+",Free,0,Everyone,Finance,"July 31, 2018",9.9.0,4.4 and up
4,2021-03-28,591,Amex Mobile,FINANCE,4.3,24729,32M,"1,000,000+",Free,0,Everyone,Finance,"August 3, 2018",6.7.0,5.0 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,2021-03-28,318,FK Senica,SPORTS,NaN,0,13M,10+,Free,0,Everyone,Sports,"August 24, 2017",14,4.1 and up
10835,2021-03-28,426,FK Jablonec,SPORTS,NaN,2,26M,50+,Free,0,Everyone,Sports,"February 27, 2018",1.0,4.1 and up
10836,2021-03-28,98,FK Dedinje BGD,SPORTS,5.0,36,2.6M,100+,Free,0,Everyone,Sports,"February 11, 2017",1.1,4.0 and up
10837,2021-03-28,761,FK Events,PRODUCTIVITY,NaN,0,18M,5+,Free,0,Teen,Productivity,"June 27, 2018",7.17.2.1,5.0 and up
10838,2021-03-28,342,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

# App Details

In [16]:
#Assign app_id to each unique app in the dataset
df['app_id'] = df.groupby(['app']).ngroup()
df['app_id'] = df['app_id'].map(lambda q: q+500)

In [17]:
#Total unique app in the data set
df_app = df['app'].unique()
len(df_app)

9659

# Fake User Details Dataset

In [19]:
from faker import Faker
fake = Faker()
n = 1000
faker_data = pd.DataFrame([[fake.name(), np.random.randint(14,65), fake.state()] for _ in range(n)],
     columns=['user_name', 'user_age', 'user_location'])
user_id = pd.factorize(faker_data.apply(tuple, axis=1))[0] + 1
faker_data.insert(loc=0, column='user_id', value=user_id)
faker_data.head(30)

    user_id        user_name  user_age user_location
0   1        Robert White     42        Ohio
1   2        Larry Roth       32        Indiana
2   3        Travis Barrett   35        California
3   4        Jamie Fisher     20        Minnesota
4   5        Adam Chaney      15        Connecticut
5   6        Jasmine Owen     57        Iowa
6   7        Margaret Gibson  57        Wyoming
7   8        Taylor Cook MD   43        Maine
8   9        Jessica Weber    40        Maine
9   10       Dillon Brady     36        Nevada
10  11       Courtney Bishop  44        Oklahoma
11  12       Brent Lawson     38        Indiana
12  13       John Wilson      15        Montana
13  14       Pamela Carlson   57        Nevada
14  15       Haley Goodwin    42        Maine
15  16       Tonya Wilson     26        Wisconsin
16  17       James Rhodes     46        Florida
17  18       David Brennan    59        California
18  19       Megan Rowe       15        Indiana
19  20       Alexis Barr      41        Arkansas
20  21       Richard Sanchez  48        Idaho
21  22       George Graham    51        Iowa
22  23       Shane Mcclain    18        Nebraska
23  24       Erika Benton     21        Nebraska
24  25       Lisa Salinas     61        Montana
25  26       Michael Green    14        Ohio
26  27       Alec Harris      45        Louisiana
27  28       Mark Cruz        56        Alabama
28  29       Jessica Nelson   57        Arizona
29  30       Adam Jennings    33        Florida

# Data Merge (Kaggle Google App Data + Fake User Details Data)

In [20]:
#Merge Faker data to kaggle data on left
users_app_data = df.merge(faker_data, on='user_id', how='left')
#Add time spent column
#users_app_data['time_spent_min'] = np.random.randint(90, 400, len(users_app_data))
users_app_data['user_details'] = users_app_data['user_name'] + ', ' + users_app_data['user_age'].astype(str) + ', ' + users_app_data['user_location']
users_app_data = users_app_data.drop(['user_name', 'user_age', 'user_location'], 1)
users_app_data

,download_date,user_id,app,category,rating,reviews,app_size,installs,app_type,price,content_rating,genres,last_updated,current_version,android_version,app_id,user_details
0,2021-03-28,35,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,7462,"Sharon Young, 15, Washington"
1,2021-03-28,294,Pyaterochka,FOOD_AND_DRINK,3.1,8412,Varies with device,"1,000,000+",Free,0,Everyone,Food & Drink,"July 19, 2018",Varies with device,4.4 and up,7698,"Marcus Barnes, 30, South Carolina"
2,2021-03-28,675,Refreshing app Free application that can use deal coupons,FOOD_AND_DRINK,3.5,10741,41M,"1,000,000+",Free,0,Everyone,Food & Drink,"July 23, 2018",5.2.2,4.2 and up,7903,"Rhonda Daniels, 58, Indiana"
3,2021-03-28,824,Citi MobileÂ®,FINANCE,4.0,78306,46M,"5,000,000+",Free,0,Everyone,Finance,"July 31, 2018",9.9.0,4.4 and up,3044,"Michele Montoya, 17, Maine"
4,2021-03-28,591,Amex Mobile,FINANCE,4.3,24729,32M,"1,000,000+",Free,0,Everyone,Finance,"August 3, 2018",6.7.0,5.0 and up,1197,"Tracy Aguirre, 40, Nebraska"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,2021-03-28,318,FK Senica,SPORTS,NaN,0,13M,10+,Free,0,Everyone,Sports,"August 24, 2017",14,4.1 and up,4727,"Mrs. Misty Wilson, 55, New Mexico"
10835,2021-03-28,426,FK Jablonec,SPORTS,NaN,2,26M,50+,Free,0,Everyone,Sports,"February 27, 2018",1.0,4.1 and up,4716,"Adam Castro, 50, Oklahoma"
10836,2021-03-28,98,FK Dedinje BGD,SPORTS,5.0,36,2.6M,100+,Free,0,Everyone,Sports,"February 11, 2017",1.1,4.0 and up,4712,"William Michael, 60, Hawaii"
10837,2021-03-28,761,FK Events,PRODUCTIVITY,NaN,0,18M,5+,Free,0,Teen,Productivity,"June 27, 2018",7.17.2.1,5.0 and up,4714,"Joyce Torres, 36, Florida"
10838,2021-03-28,342,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device,9986,"Beth Edwards, 39, New Jersey"

In [21]:
#Check Total Duplicates
(users_app_data.duplicated().value_counts()/users_app_data.shape[0])*100

False    100.0
dtype: float64

In [22]:
# Fill Nan in rating data
rating_data=users_app_data[pd.notnull(users_app_data['rating'])]
median=np.median(rating_data['rating'])
users_app_data['rating'].fillna(median,inplace=True)

users_app_data.dropna(inplace=True)

# Data Preprocessing

In [23]:
# converting last date
users_app_data['last_updated']=pd.to_datetime(users_app_data['last_updated'])
users_app_data['last_updated'] = users_app_data['last_updated'].dt.strftime('%Y-%m-%d')
users_app_data['last_updated'] = users_app_data['last_updated'].astype('datetime64[ns]')

In [24]:
# convert datatype to integer
users_app_data['rating'] = pd.to_numeric(users_app_data['rating'], errors='coerce')
users_app_data['reviews'] = pd.to_numeric(users_app_data['reviews'], errors='coerce')
users_app_data['installs'] = users_app_data['installs'].str.replace(',','').str.replace('+','').astype('int')
users_app_data['app_size'] = users_app_data['app_size'].str.replace('M','e+6').str.replace('k','e+3').str.replace('Varies with device','0').astype('float')
users_app_data['price'] = users_app_data['price'].str.replace('$','').astype('float')

In [27]:
users_app_data.dtypes

download_date      datetime64[ns]
user_id            int64
app                object
category           object
rating             float64
reviews            int64
app_size           float64
installs           int64
app_type           object
price              float64
content_rating     object
genres             object
last_updated       datetime64[ns]
current_version    object
android_version    object
app_id             int64
user_details       object
dtype: object

In [26]:
users_app_data.index.names = ['event_id']
users_app_data.to_csv('users_app_data_streaming.csv')

Empty DataFrame
Columns: [download_date, user_id, app, category, rating, reviews, app_size, installs, app_type, price, content_rating, genres, last_updated, current_version, android_version, app_id, user_details]
Index: []